body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fc;
}

.navbar-brand img {
    border-radius: 50%;
}
.navbar img {
    border-radius: 50%;
}
img {
    border-radius: 50%;
}

.card {
  border: none;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}
